name: Lint
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3

      # web-ext
      - name: Install web-ext
        run: npm install --global web-ext
      - name: Display web-ext version
        run: web-ext --version
      - name: Lint the webextension
        run: web-ext lint --warnings-as-errors
